<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jetpackcomposeplayground">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".core.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".text.SimpleTextActivity"
            android:exported="true"
            android:label="@string/title_activity_compose"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".text.CustomTextActivity"
            android:exported="true"
            android:label="@string/title_activity_custom_text"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scrollers.VerticalScrollableActivity"
            android:exported="true"
            android:label="@string/title_activity_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".scrollers.HorizontalScrollableActivity"
            android:exported="true"
            android:label="@string/title_activity_horizontal_scrollable"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".image.ImageActivity"
            android:exported="true"
            android:label="@string/title_activity_image"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>
    <uses-permission android:name="android.permission.INTERNET"/>

</manifest>